<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunxy.realplugin" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P01$Standard" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P01$SingleTop" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P01$SingleTask" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P01$SingleInstance" />

        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P02$Standard" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P02$SingleTop" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P02$SingleTask" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P02$SingleInstance" />

        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P03$Standard" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P03$SingleTop" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P03$SingleTask" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P03$SingleInstance" />

        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P04$Standard" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P04$SingleTop" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P04$SingleTask" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P04$SingleInstance" />

        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P05$Standard" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P05$SingleTop" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P05$SingleTask" />
        <activity android:name="com.sunxy.realplugin.activity.ActivityMode$P05$SingleInstance" />


        <service android:name=".core.PluginManagerService"

            />
            <!--android:process=":PluginService" -->


    </application>



</manifest>
