<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunxy.realplugin" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <service android:name=".core.PluginManagerService"
            android:process=":PluginService"
            />
        <!--android:process=":PluginService" -->



        <!--       01              -->
        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P01$Standard"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP01" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P01$SingleTop"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP01"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P01$SingleTask"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP01"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P01$SingleInstance"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP01"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>


        <!--       02             -->
        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P02$Standard"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP02"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P02$SingleTop"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP02"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P02$SingleTask"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP02"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P02$SingleInstance"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP02"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>


        <!--       03              -->
        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P03$Standard"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP03"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P03$SingleTop"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP03"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P03$SingleTask"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP03"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P03$SingleInstance"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP03"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>


        <!--       04              -->
        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P04$Standard"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP04"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P04$SingleTop"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP04"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P04$SingleTask"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP04"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P04$SingleInstance"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP04"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>


        <!--       05              -->
        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P05$Standard"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP05"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P05$SingleTop"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP05"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P05$SingleTask"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP05"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sunxy.realplugin.activity.ActivityMode$P05$SingleInstance"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP05"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.sunxy.android" />
            </intent-filter>
        </activity>


    </application>



</manifest>
